ServicesConsume/Service References/AuditService/AuditWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Add">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="a" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="b" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddAudit_IUD">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="audit_IUDFormUI" type="tns:Audit_IUDFormUI" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Audit_IUDFormUI">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Tbl_Audit_IUDId" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CreatedOn" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="CreatedOn_Hijri" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="CreatedBy" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ModifiedOn" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="ModifiedOn_Hijri" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="ModifiedBy" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Tbl_OrganizationId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TableName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Tbl_UserId" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Operation" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Tbl_RecordId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OldValue" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NewValue" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IPAddress" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Browser" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="AddAudit_IUDResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="AddSoapIn">
    <wsdl:part name="parameters" element="tns:Add" />
  </wsdl:message>
  <wsdl:message name="AddSoapOut">
    <wsdl:part name="parameters" element="tns:AddResponse" />
  </wsdl:message>
  <wsdl:message name="AddAudit_IUDSoapIn">
    <wsdl:part name="parameters" element="tns:AddAudit_IUD" />
  </wsdl:message>
  <wsdl:message name="AddAudit_IUDSoapOut">
    <wsdl:part name="parameters" element="tns:AddAudit_IUDResponse" />
  </wsdl:message>
  <wsdl:portType name="AuditWSSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Add">
      <wsdl:input message="tns:AddSoapIn" />
      <wsdl:output message="tns:AddSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddAudit_IUD">
      <wsdl:input message="tns:AddAudit_IUDSoapIn" />
      <wsdl:output message="tns:AddAudit_IUDSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AuditWSSoap" type="tns:AuditWSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Add">
      <soap:operation soapAction="http://tempuri.org/Add" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddAudit_IUD">
      <soap:operation soapAction="http://tempuri.org/AddAudit_IUD" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AuditWSSoap12" type="tns:AuditWSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Add">
      <soap12:operation soapAction="http://tempuri.org/Add" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddAudit_IUD">
      <soap12:operation soapAction="http://tempuri.org/AddAudit_IUD" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AuditWS">
    <wsdl:port name="AuditWSSoap" binding="tns:AuditWSSoap">
      <soap:address location="http://localhost:8039/AuditWS.asmx" />
    </wsdl:port>
    <wsdl:port name="AuditWSSoap12" binding="tns:AuditWSSoap12">
      <soap12:address location="http://localhost:8039/AuditWS.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>